@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Emilys+Candy&family=Salsa&family=Ultra&display=swap');

body {
  background: url(https://wallpapercave.com/wp/wp3430475.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Salsa', cursive;
}

input {
  font-family: 'Salsa', cursive;
  font-size: 20px;
  margin-left: 5px;
}

label {
  font-family: 'Emilys Candy', cursive;
  font-weight: bold;
  font-size: 25px;
  cursor: default;
}

button {
  font-family: 'Salsa', cursive;
  font-size: 20px;
  margin-left: 5px;
}

h1 {
  font-family: 'Emilys Candy', cursive;
  font-size: 50px;
}

h2 {
  font-family: 'Emilys Candy', cursive;
  font-size: 30px;
  text-align: center;
}

li {
  font-size: 20px;
  text-align: center;
  margin: 0 0 8px 0;
  list-style: square;
  list-style-position: inside;
}